body {
  background-color: #fff8dc;
}
#map {
  width: 100%;
  height: 500px;
  background-color: grey;
}

#enterAddress {
  margin-top: 30px;
  height: 40px;
}
#topBar {
  border-radius: 5px
}
#filter {
  padding-left: 50px;
  font-weight: bold;
  color: #000080;
}
.dropdown {
  padding-left: 50px;
  padding-top: 1px;
}
.dropdown-item {
  background-color: #ffb347;
}
.dropdown-menu {
  margin-left: 50px;
}
