<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css">

    <!-- JavaScript -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="static/script.js"></script>
  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light" id ="topBar" style="background-color: #add8e6">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/">BerkMe</a>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Dropdown
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                  <input class="dropdown-item" type="button" onclick="changeFilter(value);" value="Restaurants">
                  <input class="dropdown-item" type="button" onclick="changeFilter(value);" value="Dentists">
                  <input class="dropdown-item" type="button" onclick="changeFilter(value);" value="Crime">
                  <input class="dropdown-item" type="button" onclick="changeFilter(value);" value="Doctors">
                  <input class="dropdown-item" type="button" onclick="changeFilter(value);" value="Housing">
                  <input class="dropdown-item" type="button" onclick="changeFilter(value);" value="Schools">
                  <input class="dropdown-item" type="button" onclick="changeFilter(value);" value="Supermarkets">
                  <input class="dropdown-item" type="button" onclick="changeFilter(value);" value="OpenTable">
                </div>
              </div>  
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" id="address" size="40" type="text" placeholder="Example: 2220 Ellsworth Street, Berkeley" aria-label="Search">
            <input class="btn btn-outline-success my-2 my-sm-0" type="button" id="searchbtn" name="searchLoc" value="Search">
        
          </form>
        </div>
      </nav>
    </div>
    <br>
    <div class="container">

      <h3>Check Your Area!</h3>
        <div id="floating-panel">
      
        </div>
      <div id="map"></div>
    </div>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCmlmB_d0ILG7qO3bZ9e-isQGR25gvWBBM&callback=initMap"
    type="text/javascript">
    </script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    </script>

  </body>
</html>
